.env
venv/
.DS_Store

__pycache__/

# Database backups
*.sql
*.txt

# Just fooling around 
/experimental/

# Files which were downloaded 
src/files/

# Vector database (generated on server)
chroma_db/

